<ion-header>
  <ion-navbar text-center color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movimientos de Caja</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="nuevosmovs">
  <form id='formnuevomov' (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-xl-6>
          <ion-list id="lst-nuevomovim">
            <ion-item-divider color="light" id="sdomovscat1">
              Registro de movimientos caja
            </ion-item-divider>
            <div id="divnuevosmovs">
              <p style="color:#000000;">
                Seleccione un concepto de caja y el monto del movimiento para afectar el saldo de la categoría.
              </p>
              <p>
                Opcionalmente se puede ingresar un comentario. 
              </p>
            </div>
            <ion-item>
              <ion-label>
                Concepto:
              </ion-label>
              <ion-select okText="Ok" cancelText="Cancelar" required [(ngModel)]="concepto" name="concepto">
                <ion-option *ngFor="let c of conceptos" [id]="c._id" [value]="c">
                  {{c.nombre}}
                </ion-option>
              </ion-select>
            </ion-item>
            <ng-container *ngIf="cargueConcepto()">
              <ion-item>
                Afectación de saldo: <span item-end>{{concepto.tipo}}</span>
              </ion-item>
            </ng-container>
            <ion-item>
              <ion-label>¿Es transferencia a otra categoría?:</ion-label>
              <ion-checkbox item-end [(ngModel)]="transferencia" name="transferencia"></ion-checkbox>
            </ion-item>
            <ng-container *ngIf="transferencia">
              <p>
                Seleccione la categoría a la cuál se transferirán los fondos. 
              </p>
                <ion-item>
                  <ion-label>
                    Categoría:
                  </ion-label>
                  <ion-select okText="Ok" cancelText="Cancelar" required [(ngModel)]="concepto" name="concepto">
                      <ion-option *ngFor="let c of conceptos" [id]="c._id" [value]="c">
                        {{c.nombre}}
                      </ion-option>
                    </ion-select>
                </ion-item>
            </ng-container>
            <ion-item>
              <ion-label>
                Monto:
              </ion-label>
              <ion-input text-right type="text" placeholder="Ej: 500" name="monto">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                Comentario:
              </ion-label>
              <ion-textarea text-right #comentario="ngModel" ngModel name="comentario" rows=5 placeholder="Ej: Pago 1ra institucional (a media con mayor)"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-xl-2>
          <button id="btn-confirmarmov" type="submit" ion-button block color="positive" [disabled]="form.form.invalid">
            Confirmar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>