page-lista-eventos{
    ion-calendar {
        .today {
            color: #0b15aa !important;
            font-weight: 600 !important;
            background: #ffffff !important;
        }
        
        .eventBlip {
            background: #0b15aa !important;
            width: 6.5px;
            height: 6.5px;
            display: inline-block;
            border-radius: 6.5px;
            position: absolute;
            top: 3.5px;
            right: 3.5px;
          }
        .select {
            box-shadow: none;
            color: #fff;
            background:#0b15aa;
        }

    }
}

